version: '3'
services:
  api:
    environment:
     - DB_PASSWORD=postgres
     - DB_USERNAME=postgres
     - DB_HOST=db
     - DB_PORT=5432
     # Add keys from https://www.instagram.com/developer/clients/manage/
     - CLIENT_ID=
     - CLIENT_SECRET=
     - REDIRECT_URI=http://localhost:8080/api/instagram/callback
     # Secret key used for secure cookies
     - SECRET_KEY=
     - SERVER_URI=http://localhost:8080
