db:
  image: postgres:9.5
  ports:
   - "5432:5432"
  environment:
  - POSTGRES_USER=postgres
  - POSTGRES_PASSWORD=postgres

api:
  build: api/
  ports:
   - "8888:8888"
  volumes:
   - "./api:/usr/src/app/"
  links:
   - db
  environment:
   # Add keys from https://www.instagram.com/developer/clients/manage/
   - CLIENT_ID=
   - CLIENT_SECRET=
   - REDIRECT_URI=
   # Secret key used for secure cookies
   - SECRET_KEY=
