body {
  margin: 0px;
  font-family: 'Poiret One', cursive;
  overflow-y:hidden;
  background-color: #e6e6e6;
  color: #222;
}

.post > img {
  width: 100%;
}

.comment {
  height: 52px;
  margin: 0px 2px;
}

.comment > p {
  position: absolute;
  left: 54px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;

}

.comment > img {
  position: absolute;
  width: 48px;
  height: 48px;
}

.comments_list{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #1a237e;
  overflow-y: scroll;
  overflow-x: hidden;
}
