body {
  font-family: 'Poiret One', cursive;
  overflow-y:hidden;
  color: #222;
  background-color: #ededed;
  font-size: 4.0vmin;
}

.post > img {
  width: 100%;
}

.comment {
  padding: 15px 0px;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #fff;
}

.comment div {
  margin: -6px;
}

.comment img {
  width: 100%;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #fff;
}
