body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
}

html,body,#root,.App,.single-item-holder {
  height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 50%;
}

@media screen and (min-width: 600px) {
  .grid-item {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-item {
    width: 12.5%;
  }
}

.single-item-holder {
  text-align: center;
  position: fixed;
  width: 100%;
}

@media screen and (orientation: portrait) {
  .single-item {
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  .single-item {
    height: calc(100% - 125px);
  }
  .single-item:fullscreen {
    height: calc(100% - 75px);
  }
}
